.main {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 4rem;
}

.hero {
  width: 60rem;
}

.map {
  height: 38rem;
  width: 60rem;
}

.mapContainer {
  border: 0.2rem dashed rgb(95, 125, 153);
  border-radius: 2rem;
  margin: 1rem !important;
}

.popup a {
  text-decoration: none;
  color: rgb(134, 156, 177);
  text-align: center;
  transition: all 300ms;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(95, 125, 153, 0.534);
  border-radius: 2rem;
  padding: 1rem;
  justify-self: center;
}

.popup a:hover,
.popup a:active {
  color: #60adad;
  border: 0.1rem solid rgba(95, 125, 153, 0.534);
}

h2 {
  margin-top: 5rem;
  font-size: 5rem;
  color: rgb(95, 125, 153);
  transition: all 300ms;
}

h3 {
  color: rgb(95, 125, 153);
  font-size: 2.5rem;
  text-align: center;
}

h4 {
  margin-top: 4rem;
  font-size: 2.5rem;
  color: rgb(91, 112, 131);
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 24rem;
}

.img {
  width: 15rem;
  border-radius: 1rem;
}

.spin {
  color: rgb(122, 161, 197);
}

@media (max-width: 65em) {
  .main {
    margin: 0 auto;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  html {
    font-size: 50%;
  }
  h4,
  h2 {
    text-align: center;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 40%;
  }
  img {
    width: 10rem;
  }
  .map {
    height: 24rem;
    width: 48rem;
  }
  .mapContainer {
    height: 36rem !important;
    width: 48rem !important;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 35%;
  }
  .popup {
    height: 18rem;
  }
  img {
    width: 8rem;
  }
  .map {
    height: 48rem;
    width: 48rem;
  }
  .mapContainer {
    height: 48rem !important;
    width: 48rem !important;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 30%;
  }
  .popup {
    height: 18rem;
  }
  img {
    width: 4rem;
  }
  .map {
    width: 36rem;
  }
  .mapContainer {
    height: 36rem !important;
    width: 36rem !important;
  }
}
