.header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 20rem;
  padding-right: 20rem; */
  padding: 1rem 4rem;
}

.logo {
  width: 24rem;
}

.navButton {
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(16, 204, 214);
  border-radius: 2rem;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(95, 125, 153);
  transition: all 300ms;
}

.navButton:hover {
  color: #32dba9;
}
